$main-background-color: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$background-color: #1a294a;
$main-color: #f1f1f1;
$secondary-color: #414141;
$scissors: hsl(39, 89%, 49%);
$paper: hsl(230, 89%, 62%);
$rock: hsl(349, 71%, 52%);
$lizard: hsl(261, 73%, 60%);
$spock: hsl(189, 59%, 53%);
