@import "./_mode.component.scss";
@import "../media-queries/_original.component.scss";

@mixin original-component {
  @include mode-component;

  figure {
    img {
      &.scissors {
        right: 132px;
      }

      &.paper {
        bottom: 126px;
        right: -50px;
      }

      &.rock {
        right: 85px;
      }
    }
  }

  @include media-queries;
}
