<ng-container *ngIf="(views$ | async)?.header?.isShown">
  <div class="top"></div>

  <header [@fadeIn]="props">
    <nav>
      <ng-container *ngIf="(mode$ | async) === 'original'">
        <ng-container *ngFor="let originalMoveName of originalMoveNames">
          <li>
            {{ originalMoveName }}
          </li>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="(mode$ | async) === 'bonus'">
        <ng-container *ngFor="let bonusMoveName of bonusMoveNames">
          <li>
            {{ bonusMoveName }}
          </li>
        </ng-container>
      </ng-container>
    </nav>

    <div class="score-container">
      <span>
        Score
      </span>

      <span>
        {{ score$ | async }}
      </span>
    </div>
  </header>
</ng-container>
