<ng-container *ngIf="(state$ | async)?.isHeaderShown">
  <ng-container *ngIf="state$ | async as state">
    <div class="top"></div>

    <header [@fadeIn]="props">
      <nav>
        <ng-container *ngIf="state.mode === 'original'; else bonus">
          <ng-container *ngFor="let originalMoveName of originalMoveNames">
            <li>
              {{ originalMoveName }}
            </li>
          </ng-container>
        </ng-container>

        <ng-template #bonus>
          <ng-container *ngFor="let bonusMoveName of bonusMoveNames">
            <li>
              {{ bonusMoveName }}
            </li>
          </ng-container>
        </ng-template>
      </nav>

      <div class="score-container">
        <span>
          Score
        </span>

        <span>
          {{ score$ | async }}
        </span>
      </div>
    </header>
  </ng-container>
</ng-container>
