<ng-container *ngIf="(view$ | async)?.isShown">
  <div class="overlay"></div>

  <div
    @fadeOut
    class="rules-container"
    [@fadeIn]="props">
    <h3>
      <span class="rules">
        Rules
      </span>

      <img
        class="close"
        src="assets/images/icon-close.svg"
        alt="Close Button"
        (click)="hideModal()">
    </h3>

    <ng-container *ngIf="(mode$ | async) === 'original'">
      <img
        class="logo"
        src="assets/images/image-rules.svg"
        alt="Game Rules">
    </ng-container>

    <ng-container *ngIf="(mode$ | async) === 'bonus'">
      <img
        class="logo"
        src="assets/images/image-rules-bonus.svg"
        alt="Game Rules">
    </ng-container>
  </div>
</ng-container>
