<ng-container *ngIf="move$ | async as move">
  <ng-container *ngIf="move.name">
    <section>
      <header>
        <h2>
          You've picked
        </h2>

        <img
          [src]="move.image"
          [alt]="move.name">

          <h2>
            The House picked
          </h2>

        <ng-container *ngIf="randomHouseMove$ | async as randomHouseMove">
          <img
            [src]="randomHouseMove.image"
            [alt]="randomHouseMove.name">
        </ng-container>
      </header>

      <ng-container *ngIf="message$ | async as message">
        {{ message }}
      </ng-container>
    </section>
  </ng-container>
</ng-container>
