<ng-container *ngIf="(view$ | async)?.isShown">
  <ng-container *ngIf="move$ | async as move">
    <section>
      <header>
        <h2>
          <span class="pick">
            You picked
          </span>

          <img
            [class.is-winner]="move.isWinner"
            [class]="move.name.toLowerCase()"
            [src]="move.image"
            [alt]="move.name">
        </h2>

        <ng-container *ngIf="message$ | async as message">
          <div class="center">
            <button (click)="updateView()">
              Play Again
            </button>

            <p class="message">
              {{ message }}
            </p>
          </div>
        </ng-container>

        <h2>
          <span class="pick">
            The House picked
          </span>

          <ng-container *ngIf="randomHouseMove$ | async as randomHouseMove">
            <img
              [class.is-winner]="randomHouseMove.isWinner"
              [class]="randomHouseMove.name.toLowerCase()"
              [src]="randomHouseMove.image"
              [alt]="randomHouseMove.name">
          </ng-container>
        </h2>
      </header>
    </section>
  </ng-container>
</ng-container>
