<ng-container *ngIf="state$ | async as state">
  <ng-container *ngIf="state.view.isShown">
    <section>
      <header>
        <h2>
          <span @popUp class="pick">
            You picked
          </span>

          <figure
            [class.is-winner]="state.move.isWinner"
            [class]="state.move.name.toLowerCase()">

            <img
              @popUp
              [src]="state.move.image"
              [alt]="state.move.name">
          </figure>
        </h2>

        <ng-container *ngIf="message$ | async as message">
          <div @popUp class="center">
            <button (click)="updateView(state.mode)">
              Play Again
            </button>

            <p class="message">
              {{ message }}
            </p>
          </div>
        </ng-container>

        <h2>
          <span @fadeIn class="pick">
            The House picked
          </span>

          <ng-container *ngIf="randomHouseMove$ | async as randomHouseMove; else anonymous">
            <figure
              [class.is-winner]="randomHouseMove.isWinner"
              [class]="randomHouseMove.name.toLowerCase()">

              <img
                @popUp
                [src]="randomHouseMove.image"
                [alt]="randomHouseMove.name">
            </figure>
          </ng-container>

          <ng-template #anonymous>
            <div
              @fadeIn
              class="anonymous">
            </div>
          </ng-template>
        </h2>
      </header>
    </section>
  </ng-container>
</ng-container>
