@import "../../shared/button/_button.scss";
@import "../../media-queries/footer/_footer.component.media-queries.scss";

@mixin footer-component {
  footer {
    display: flex;
    justify-content: flex-end;
    padding: 18px;

    div {
      &.buttons-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
      }
    }

    @include button;
  }

  @include media-queries;
}
