@import "../shared/center/_center.scss";
@import "../shared/border/_border.scss";
@import "../shared/colors/_colors.scss";
@import "../shared/image/_image.scss";

@mixin battleground-component {
  section {
    @include center;

    div {
      &.images-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        @include center;
        @include image;
      }
    }
  }
}
